#menu-outer {
  display: flex;
  background-color: #fafafa;
  height: 44px;
  align-items: center;
  justify-content: flex-end;
}
#menu-inner {
  margin-right: 10px;
}
#menu-inner a {
  color: #848484;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  padding: 8px 8px 8px 8px;
}
#menu-inner a:hover {
  color: #000;
  background-color: #ddd;
}
