#rewardButton {
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
}
#rewardButton span {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-size: 25px;
  font-family: "Microsoft Yahei";
  background: #f44336;
}
#rewardButton span:hover {
  background: #f7877f;
}
#QR {
  padding-top: 20px;
}
#QR a {
  border: 0;
}
#QR img {
  width: 180px;
  max-width: 100%;
  display: inline-block;
  margin: 0.8em 2em 0 2em;
}
#wechat:hover p {
  animation: roll 0.1s infinite linear;
  -webkit-animation: roll 0.1s infinite linear;
  -moz-animation: roll 0.1s infinite linear;
}
#alipay:hover p {
  animation: roll 0.1s infinite linear;
  -webkit-animation: roll 0.1s infinite linear;
  -moz-animation: roll 0.1s infinite linear;
}
#menu-outer {
  display: flex;
  background-color: #fafafa;
  height: 44px;
  align-items: center;
  justify-content: flex-end;
}
#menu-inner {
  margin-right: 10px;
}
#menu-inner a {
  color: #848484;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  padding: 8px 8px 8px 8px;
}
#menu-inner a:hover {
  color: #000;
  background-color: #ddd;
}
#bottom-outer {
  height: 30px;
  text-align: center;
}
#bottom-inner {
  display: inline-block;
  color: #808080;
}
#bottom-inner a {
  text-decoration: none;
  color: #000;
}
#bottom-inner a:hover {
  color: #808080;
}
#content-outer {
  min-height: 100%;
  margin-bottom: -30px;
}
#content-outer:after {
  content: "";
  display: block;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #f5deb3;
}
